<div class="row w-50 justify-content-center mt-5 mx-auto">
    <div class="col px-5 mx-auto mb-5 text-center">
    <img class="mb-2 w-100" src="/assets/imagenes/llegadas.jpg">
    <a class="bg-success rounded float-left w-100">Salidas</a>
    </div>
    <div class="col px-5 mx-auto mb-5 text-center">
    <img class="mb-2 w-100" src="/assets/imagenes/salidas.jpg">
    <a class="bg-primary rounded float-left w-100">LLegadas</a>
    </div>
    <div class="col px-5 mx-auto text-center">
    <img class="mb-2 w-100" src="/assets/imagenes/estadisticas.jpg">
    <a class="bg-secondary rounded float-left w-100">Estadísticas</a>
    </div>
</div>