
<div class="row justify-content-center w-100 my-5">
<h1>Elija una opción</h1>
</div>

<div class="row w-50 justify-content-center mt-5 mx-auto">
    <div class="col px-5 mx-auto mb-5 text-center">
    <img class="mb-2 w-100" src="/assets/imagenes/llegadas.jpg">
    <a class="bg-success rounded float-left w-100 salidas-btn" routerLink="/salidas">Salidas</a>
    </div>
    <div class="col px-5 mx-auto mb-5 text-center">
    <img class="mb-2 w-100" src="/assets/imagenes/salidas.jpg">
    <a class="bg-primary rounded float-left w-100 llegadas-btn" routerLink="/llegadas">LLegadas</a>
    </div>
    <div class="col px-5 mx-auto text-center">
    <img class="mb-2 w-100" src="/assets/imagenes/estadisticas.jpg">
    <a class="bg-secondary rounded float-left w-100 estadisticas-btn" routerLink="/stats">Estadísticas</a>
    </div>
</div>